body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.register {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
}

.register h3 {
    color: #136a8a;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.register .form-field {
    position: relative;
    margin-bottom: 20px;
}

.register label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #136a8a;
    font-size: 1em;
}

.register input,
.register select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #136a8a;
    outline: none;
    font-size: 1em;
}

.register input::placeholder,
.register select::placeholder {
    color: transparent;
}

.register input::-webkit-input-placeholder,
.register select::-webkit-input-placeholder {
    color: transparent;
}

.register .form-field .fa {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #136a8a;
}

.register .btn {
    background-color: #136a8a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register .btn:hover {
    background-color: #267871;
}

.register p {
    text-align: center;
    margin-top: 10px;
}

.register p a {
    color: #136a8a;
    text-decoration: none;
}
